.venv/

__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store
Thumbs.db